@{
    var rolUsuario = Context.Session.GetString("RolUsuario");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Panel de Gestion</title>

    <link href="~/css/admin.css" rel="stylesheet" />

    @RenderSection("Estilos", required: false)
</head>
<body>

    <div class="menu">
        <div class="menu__container">

            <div class="menu__logo">
                <a>
                    <span class="menu__name">Hyper Mega Red</span>
                </a>
            </div>

            <nav class="nav">
                <ul class="nav__list">
                    @if (rolUsuario == "Administrador" || rolUsuario == "Gestor Productos")
                    {
                        <li class="nav__item">
                            <a href="@Url.Action("Gestion", "Productos")" class="nav__link">
                                <img class="menu__img" src="~/img/layoutadmin/productos.png" />
                                <span>Productos</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="@Url.Action("Gestion", "Categorias")" class="nav__link">
                                <img class="menu__img" src="~/img/layoutadmin/categorias.png" />
                                <span>Categorias</span>
                            </a>
                        </li>
                    }

                    @if (rolUsuario == "Administrador")
                    {
                        <li class="nav__item">
                            <a href="@Url.Action("Gestion", "Usuarios")" class="nav__link">
                                <img class="menu__img" src="~/img/layoutadmin/usuarios.png" />
                                <span>Usuarios</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="@Url.Action("Gestion", "Clientes")" class="nav__link">
                                <img class="menu__img" src="~/img/layoutadmin/usuarios.png" />
                                <span>Clientes</span>
                            </a>
                        </li>
                    }

                    @if (rolUsuario == "Administrador" || rolUsuario == "Gestor Ventas")
                    {
                        <li class="nav__item">
                            <a href="@Url.Action("Gestion", "Ventas")" class="nav__link">
                                <img class="menu__img" src="~/img/layoutadmin/ventas.png" />
                                <span>Ventas</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>

            <div class="menu__signout">
                <button class="btn__signout" type="submit">
                    <img class="menu__img" src="~/img/layoutadmin/logout.png" />
                    Cerrar Sesion
                </button>
            </div>
        </div>
    </div>

    <header class="header">
        <div class="header__container">

            <div>
                @if(ViewBag.TituloMenu != null)
                {
                    <span class="header__container--title">@ViewBag.TituloMenu</span>
                }
                <span class="header__container--welcome">hello user</span>
            </div>

        </div>
    </header>

    <div class="main">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
