@{
    var clienteLogueado = Context.Session.GetString("ClienteLogueado");
    bool estaLogueado = !string.IsNullOrEmpty(clienteLogueado);
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/_LayoutStyles.css"/>

    @RenderSection("Estilos", required: false)
</head>
<body>
    <header class="header">
        <h1 class="logo">Hyper Mega Red</h1>
        <nav class="nav">
            <a href="@Url.Action("Index", "Home")" class="nav__link">Inicio</a>
            <a href="#" class="nav__link">Contacto</a>
            <a href="#" class="nav__link">Acerca de nosotros</a>
            @if (!estaLogueado)
            {
                <a href="@Url.Action("Login", "Cuenta")" class="nav__link">Iniciar Sesion</a>
            }
        </nav>
        <div class="input__container">
            <input class="input__search" type="text" placeholder="Que estas buscando?" />
            <img aria-hidden="true" class="input__lens" src="~/img/nav/lupa.png" />
        </div>
        <div>
            @if (estaLogueado)
            {
                <a class="link__icon" href="@Url.Action("Index", "Favoritos")">
                    <img class="header__icon" src="~/img/nav/favorito.png" alt="Imagen de un corazon para agregar a favoritos" />
                </a>
                <a class="link__icon" href="@Url.Action("Index", "Carritos")">
                    <img class="header__icon" src="~/img/nav/carro-de-la-compra.png" alt="Imagen de un carrito de compras para agregar productos" />
                </a>
                <a class="link__icon">
                    <img class="header__icon" src="~/img/nav/usuario.png" alt="Imagen de un perfil para revisar el perfil del usuario" />
                </a>
            }
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="footer">

        <div class="footer__container">
            <div class="footer__field">
                <h1 class="logo title__footer">Hyper Mega Red</h1>
                <p class="store__information footer__elements--spacing">
                    Somos la mejor plataforma de venta de productos electronicos de Bolivia. Confia en nosotros
                    para sus pedidos y compras en linea de los ultimos productos electronicos.
                </p>
            </div>

            <div class="footer__field">
                <h2 class="subtitle__footer">Soporte</h2>
                <p class="store__information footer__elements--spacing">Cochabamba-Bolivia Zona Chimba Av. Ingavi calle Heredia nro 4467</p>
            </div>

            <div class="footer__field">
                <h2 class="subtitle__footer"r>Contactanos</h2>
                <span class="footer__elements--spacing">hypermegaredsoporte@gmail.com</span>
                <span class="footer__elements--spacing">+591 77912729</span>
                <div class="footer__elements--spacing">
                    <a>
                        <img class="footer__socialmedia" src="~/img/footer/icons8-facebook-24.png" alt="Icono de facebook de la tienda electronica" />
                    </a>
                    <a>
                        <img class="footer__socialmedia" src="~/img/footer/icons8-instagram-24.png" alt="Icono de instagram de la tienda electronica" />
                    </a>
                    <a>
                        <img class="footer__socialmedia" src="~/img/footer/icons8-twitter-24.png" alt="Icono de twiter de la tienda electronica" />
                    </a>
                    <a>
                        <img class="footer__socialmedia" src="~/img/footer/icons8-linkedin-24.png" alt="Icono de linkedin de la tienda electronica" />
                    </a>
                </div>
            </div>
        </div>

        <span class="footer__copyright">Copyright 2025. All right reserved</span>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
