@model tienda_electronica.Models.Productos.Producto

@{
    ViewData["Title"] = "Agregar Producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos{
<link href="~/css/agregarProducto.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        const btnPublicado = document.getElementById('btnPublicado');
        const btnNoPublicado = document.getElementById('btnNoPublicado');
        const inputActivo = document.getElementById('estado');

        btnPublicado.addEventListener('click', function () {
        inputActivo.value = "true";
        btnPublicado.classList.add('active');
        btnNoPublicado.classList.remove('active');
        });

        btnNoPublicado.addEventListener('click', function () {
        inputActivo.value = "false";
        btnNoPublicado.classList.add('active');
        btnPublicado.classList.remove('active');
        });
    </script>
    <script>
        const form = document.querySelector('form');
        const imagenPrincipalInput = document.getElementById('imagenPrincipal');

        form.addEventListener('submit', function (e) {
        if (imagenPrincipalInput.files.length === 0) {
        e.preventDefault();
        alert('Por favor, sube una imagen principal.');
        }
        });
    </script>
    <script>
        function previewImagenPrincipal(event) {
            const input = event.target;
            const preview = document.getElementById('previewImagenPrincipal');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        function previewImagenesAdicionales(event) {
            const input = event.target;
            const previewContainer = document.getElementById('previewImagenesAdicionales');
            previewContainer.innerHTML = "";

            if (input.files) {
                Array.from(input.files).forEach(file => {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.width = '100px';
                        img.style.height = '100px';
                        img.style.objectFit = 'cover';
                        previewContainer.appendChild(img);
                    }

                    reader.readAsDataURL(file);
                });
            }
        }
    </script>

}

<form asp-action="Guardar" asp-controller="Productos" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="idProducto" />
    @if (TempData["Error"] != null)
    {
        <div class="custom-alert show">
            @TempData["Error"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    @if (TempData["MensajeAgregar"] != null)
    {
        <div class="custom-alert show">
            @TempData["MensajeAgregar"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    @if (Model.idProducto == 0)
    {
        ViewData["Title"] = "Agregar Producto";
    }
    else
    {
        ViewData["Title"] = "Editar Producto";
    }
    <main class="form__product">
        <section class="info__product">
            <div class="title__state">
                <h2 class="title">INFORMACION GENERAL DEL PRODUCTO</h2>
                <div class="container__state">
                    <input type="hidden" asp-for="estado" value="true" />
                    <button type="button" id="btnPublicado" class="btn btn__public active">Publicado</button>
                    <button type="button" id="btnNoPublicado" class="btn btn__nopublic">No Publicado</button>
                </div>
            </div>
            <div class="container__name">
                <div>
                    <label class="lbl" for="Nombre">Nombre del producto</label>
                    <input class="input__name" asp-for="nombre" type="text" placeholder="Laptop HP Victus 15" required />
                </div>
                <div>
                    <label class="lbl" for="idCategoria">Categoria</label>
                    <select asp-for="idCategoria" class="select__category" required>
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.idCategoria">@categoria.nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="container__description">
                <label class="lbl" for="Descripcion">Descripcion del producto</label>
                <textarea class="input__description"
                asp-for="descripcion"
                type="text" placeholder="Escribe una descripción..."
                rows="5" required></textarea>
            </div>
            <div class="additional__img">
                <label class="additional__lbl" for="imagenesAdicionales">
                    <span class="upload__span">Cargar imagenes adicionales (maximo 4, opcional)</span>
                    <input id="imagenesAdicionales" asp-for="imagenesAdicionales" class="upload__input" type="file" multiple accept="image/*" onchange="previewImagenesAdicionales(event)" />
                    <div id="previewImagenesAdicionales" class="preview__additionalimg"></div>
                </label>
            </div>
        </section>
        <section class="imgprice__product">
            <div class="upload__container">
                <label class="upload__lbl" for="imagenPrincipal">
                    <span class="upload__span">Cargar Imagen Principal</span>
                    <input id="imagenPrincipal" class="upload__input" asp-for="imagenPrincipal" type="file" accept="image/*" onchange="previewImagenPrincipal(event)" />
                    <img id="previewImagenPrincipal" class="preview__mainimg" />
                </label>
            </div>
            <label class="lbl" for="precio">Precio</label>
            <input class="input__price" asp-for="precio" type="text" placeholder="0" required />
            <label class="lbl" for="precioDescuento">Precio con descuento</label>
            <input class="input__price" asp-for="precioDescuento" type="text" placeholder="0" required />
            <label class="lbl" for="stock">Stock</label>
            <input class="input__price" asp-for="stock" type="number" placeholder="0" required />
        </section>
        <div class="container__actions">
            <a class="btn btn__exit" href="@Url.Action("Gestion", "Productos")">Salir</a>
            @if (Model.idProducto == 0)
            {
                <button type="submit" class="btn btn__save">Guardar</button>
            }
            else
            {
                <button type="submit" class="btn btn__save">Actualizar</button>
            }
        </div>
    </main>
</form>
