@model tienda_electronica.Models.Productos.Producto

@{
    ViewData["Title"] = "Detalle del Producto";
    Layout = "_Layout";
}

@section Estilos{
<link href="~/css/detalle.css" rel="stylesheet" />
}

<main class="detail">
    <div class="detail__content">
        <div class="img__column">
            @foreach (var img in Model.ImagenesExtras)
            {
                <img class="img__small" src="~/@img" />
            }
        </div>
        <img class="img__main" src="@Model.rutaImagen" />
        <div class="detail__info">
            <h1 class="name__product">@Model.nombre</h1>
            <span class="stock__product">@(Model.stock > 0 ? "En stock" : "Sin stock")</span>
            <span class="price__product">@Model.precio</span>
            <span class="price__disscount">@Model.precioDescuento</span>
            <p class="description__product">
                @Model.descripcion
            </p>
            <hr />
            <div class="detail__button">
                <div class="counter">
                    <button id="btnDisminuir" class="counter__btn counter__btn--disaggregate">-</button>
                    <span id="counterValue" class="counter__value">1</span>
                    <button id="btnAumentar" class="counter__btn counter__btn--add">+</button>
                </div>
                <button class="buy__btn">Comprar Ahora</button>
                <button class="favorite__btn">
                    <img class="img__favorite" src="~/img/nav/favorito.png" />
                </button>
            </div>
            <div class="detail__service">
                <div class="service">
                    <img class="service__img" src="~/img/detalle/camion.png" />
                    <div>
                        <h4 class="title__service">Entrega gratuita</h4>
                        <a class="service__link" href="#">
                            <p class="service__info">Ingrese su código postal para ver la disponibilidad de entrega</p>
                        </a>
                    </div>
                </div>
                <div class="service">
                    <img class="service__img" src="~/img/detalle/flchas-girando.png" />
                    <div>
                        <h4 class="title__service">Entrega de devolucion</h4>
                        <p class="service__info">
                            Envío y devolución gratuitos en 30 días. 
                            <a class="service__link" href="#">
                                Detalles
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const stock = @Model.stock;
            let cantidad = 1;

            const valorElemento = document.getElementById("counterValue");
            const btnAumentar = document.getElementById("btnAumentar");
            const btnDisminuir = document.getElementById("btnDisminuir");

            btnAumentar.addEventListener("click", function () {
                if (cantidad < stock) {
                    cantidad++;
                    valorElemento.textContent = cantidad;
                }
            });

            btnDisminuir.addEventListener("click", function () {
                if (cantidad > 1) {
                    cantidad--;
                    valorElemento.textContent = cantidad;
                }
            });
        });
    </script>
}

