@model List<tienda_electronica.Models.Productos.Producto>

@{
    ViewData["Title"] = "Gestión de Productos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    TempData.Keep();
}

@section Estilos{
<link href="~/css/gestionProductos.css" rel="stylesheet" />
}

<main>
    @if (TempData["Error"] != null)
    {
        <div class="custom-alert show" id="miAlerta">
            @TempData["Error"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    @if (TempData["MensajeEliminar"] != null)
    {
        <div class="custom-alert show" id="miAlerta">
            @TempData["MensajeEliminar"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    <table>
        <thead class="table__header">

            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Precio descuento</th>
                <th>Stock</th>
                <th>Estado</th>
                <th>Producto</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>@item.precio</td>
                    <td>@item.precioDescuento</td>
                    <td>@item.stock</td>
                    <td>@item.estado</td>
                    <td>
                        <img class="img__producto" src="~/img/home/productos/mando.jpg" />
                    </td>
                    <td>
                        <button class="btn btn__edit">
                            <img class="img__editar" src="~/img/gestion/editar.png" />
                        </button>
                    </td>
                    <td>
                        <a asp-controller="Productos" asp-action="Eliminar" asp-route-id="@item.idProducto" onclick="return confirm('Estas seguro que desea eliminar este producto?')" class="btn btn__delete">
                            <img class="img__eliminar" src="~/img/gestion/elimiinar.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</main>