@model List<tienda_electronica.Models.Productos.Producto>

@{
    Layout = "_Layout";
    List<int> favoritosIds = ViewBag.FavoritosIds ?? new List<int>();
}

@section Estilos {
<link href="~/css/productos.css" rel="stylesheet" />
}

<main class="products">
    <div class="container__title">
        <h1 class="products__title">
            <a class="products__title--decoration" href="@Url.Action("Index", "Productos")">Productos</a>
        </h1>
    </div>
    <div class="container__category">
        <details class="dropdown">
            <summary>Categoria</summary>
            <ul>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <li>
                        <a href="@Url.Action("Index", "Productos", new { categoriaId = categoria.idCategoria })">
                            @categoria.nombre
                        </a>
                    </li>
                }
            </ul>
        </details>
    </div>
    <div class="container__catalog">
        @foreach (var producto in Model)
        {
            <article class="product__container">
                <div class="img__container">
                    <img class="img__product" src="@producto.rutaImagen" />
                    <form asp-controller="Favoritos" asp-action="Agregar" method="post">
                        <input type="hidden" name="idProducto" value="@producto.idProducto" />
                        <button class="button__favorite">
                            <img class="icon__product" src="~/img/nav/@(favoritosIds.Contains(producto.idProducto) ? "favorito-lleno.png" : "favorito.png")" />
                        </button>
                    </form>
                    <a href="@Url.Action("Detalle", "Productos", new { id = producto.idProducto } )" class="button__eye">
                        <img class="icon__product" src="~/img/home/productos/ojo-abierto.png" />
                    </a>
                </div>
                <header class="product__header">
                    <h3 class="product__name">@producto.nombre</h3>
                    <div class="container__price">
                        <span>@producto.precio</span>
                        @if (producto.precioDescuento > 0)
                        {
                            <span class="discount__price">@producto.precioDescuento</span>
                        }
                    </div>
                </header>
            </article>
        }
    </div>
</main>
