@model List<tienda_electronica.Models.Categorias.Categoria>

@{
    ViewData["Title"] = "Gestión de Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Estilos {
<link href="~/css/gestionCategorias.css" rel="stylesheet" />
}

<main>
    @if (TempData["Error"] != null)
    {
        <div class="custom-alert show" id="miAlerta">
            @TempData["Error"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    @if (TempData["MensajeEliminar"] != null)
    {
        <div class="custom-alert show" id="miAlerta">
            @TempData["MensajeEliminar"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    <div class="header__management">
        <a class="add" href="@Url.Action("Agregar", "Categorias")">
            Agregar
        </a>
    </div>
    <table>

        <thead class="table__header">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>
                        <button class="btn btn__edit">
                            <img class="img__editar" src="~/img/gestion/editar.png" />
                        </button>
                    </td>
                    <td>
                        <a asp-controller="Categorias" asp-action="Eliminar" asp-route-id="@item.idCategoria" onclick="return confirm('Estas seguro que desea eliminar este producto?')" class="btn btn__delete">
                            <img class="img__eliminar" src="~/img/gestion/elimiinar.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</main>
