@model List<tienda_electronica.Models.Favoritos.Favorito>

@{
    ViewData["Title"] = "Favoritos";
    Layout = "_Layout";
}

@section Estilos {
<link href="~/css/favorito.css" rel="stylesheet" />
}

<main class="favorite">
    <div class="container__title">
        <h1 class="favorite__title">Favoritos</h1>
    </div>

    <table class="favorite__table">
        <thead class="table__header">
            <tr>
                <th>Producto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>fecha_agregado</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="product__img" src="@item.imagenUrl" />
                    </td>
                    <td>@item.nombreProducto</td>
                    <td>
                        @if (item.precioDescuento.HasValue && item.precioDescuento > 0)
                        {
                            <span class="price">@item.precio Bs</span>

                            <br />
                            <span class="price__disscount">@item.precioDescuento Bs</span>
                        }
                        else
                        {
                            <span>@item.precio Bs</span>
                        }
                    </td>
                    <td>@item.fecha_agregado</td>
                    <td>
                        <a href="@Url.Action("Detalle", "Productos", new { id = item.idProducto })">
                            <img class="icon__eye" src="~/img/home/productos/ver.png" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="Eliminar" asp-route-id="@item.idFavorito">
                            <img class="icon__img" src="~/img/carrito/delete_cart.png" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>